
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AnaLayout.cshtml";
}


    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Bilgiler ve Yardım</h2>
                </div>
                <form>
                    <div class="modal-body">
                        <label>
                            Bu site Murat Yücedağ ın katkıları ile Halef BUDANUR tarafından yapılmıştır.
                        </label>
                        <label>Lütfen problemi bize bildiriniz...</label>
                        <input type="text" class="form-control" />
                        <button class="btn btn-primary">Gönder</button>
                    </div>
                </form>
            </div>
    </div>